<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Não reescreve requisições para arquivos reais
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Redireciona tudo para index.php
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
