
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

.cabecalho-biblioteca {
    width: 100%;
    height: 200px; /* ajuste como quiser */
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url('/public/imagens/imagem_abstrata_em_d.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: black;
}

.cabecalho-biblioteca-modal {
    width: 100%;
    height: 00px; /* ajuste como quiser */
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-image: url('/public/imagens/imagem_abstrata_em_d.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: black;
}
/* Bloco da esquerda isolado */
.bloco-esquerda {
    width: 35%;
}

.bloco-esquerda h2 {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
}

/* Bloco do meio */
.bloco-meio {
    width: 35%;
}

.bloco-meio p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

/* Bloco da direita com fonte decorativa */
.bloco-direita h1 {
    margin: 0;
    font-size: 42px;
    font-family: 'Lobster Two', cursive;
    color: #ff9d4d;
    text-shadow: 2px 2px 4px #000;
}


